.product-categories-section-wrapper {
  width: 100%;
  margin-bottom: 2rem;
}

.product-categories-section-title {
  margin: 2rem 0;
}

.product-categories-wrapper {
  max-width: 100%;
  display: grid;
  text-align: center;
  gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
