#products-section-wrapper {
  width: 100%;
  margin: 12vh 0 2rem;
  display: grid;
  place-items: center;
}

#products-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

#products-section-title {
  padding-top: 1rem;
}

#products-section-searchbar {
  padding: 0.8rem 2rem;
  letter-spacing: 2px;
  border-radius: 8px;
  border: none;
  background-color: #e4e3e3;
}

#products-section-searchbar::placeholder {
  text-transform: uppercase;
}

#products-section-searchbar:focus {
  border: 1px solid #57617a;
}

#products-display-subsection-wrapper {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
}

#products-display-subsection-filter-wrapper {
  padding-left: 1rem;
}

#products-display-subsection-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: calc(1rem + 12vh);
}

#products-display-subsection-filter-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 0.2rem;
  letter-spacing: 1px;
  font-size: 1.1rem;
  color: #3d4455;
}

#products-display-subsection-filter-title img {
  width: 1.5rem;
}

.products-display-subsection-filter-single-section {
  text-transform: capitalize;
}

.products-display-subsection-filter-single-section-title {
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
  color: #3d4455;
}

.products-display-subsection-filter-single-section-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #57617a;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.products-display-subsection-filter-single-section-list #active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.products-display-subsection-filter-single-section-list li:hover {
  cursor: pointer;
  color: #3d4455;
}

/* #products-display-subsection-products-wrapper {
} */

#products-display-subsection-products-count {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

#products-display-subsection-product-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem 1.5rem;
}

#products-display-subsection-no-products {
  letter-spacing: 2px;
  font-weight: 200;
}
