#certifications-section-wrapper {
  width: 100%;
  height: auto;
  background-color: var(--backgroundDark);
  color: #fff;
  padding-bottom: 2.5rem;
}

#certifications-section-title-wrapper {
  width: 100%;
  display: grid;
  justify-items: center;
}

#certifications-section-title {
  padding: 2rem 0;
}

#slider-wrapper {
  padding: 0 40px;
}

#prevIcon,
#nextIcon {
  color: #fff !important;
  font-size: 2rem;
  background-color: transparent;
  width: 25px;
  height: 35px;
  transition: all 0.4s ease-in-out;
}

#prevIcon:hover,
#nextIcon:hover {
  cursor: pointer;
  background-color: var(--primaryGreenDark);
  color: #000;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

.slick-disabled {
  display: none !important;
}
